<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <title>Транскрибатор</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <body>
        <header>
            <h1>Транскрибатор</h1>
        </header>
        <div id="upload_area">
            <div id="drop_zone"
                onclick="document.getElementById('file_input').click();">
                Перетащите файлы сюда или кликните для выбора файла
            </div>
            <form id="upload_form" method="post" enctype="multipart/form-data"
                action="/upload/" style="display: none;">
                <input type="file" id="file_input" name="file">
                <input type="submit" value="Загрузить файл">
            </form>
        </div>
        <progress id="progress_bar" value="0" max="100"
            style="width: 50%; height: 10px; opacity:0"></progress>
        <a id="download_link" href="#" style="display: none;">Скачать файл</a>
        <div id="service-description">
            <div class="service-block">
                <h3>Асинхронный</h3>
                <p>Обрабатывайте аудио или видеозаписи и получайте машинную
                    транскрипцию за считанные минуты.</p>
            </div>
            <div class="service-block">
                <h3>Стриминг</h3>
                <p>Получайте транскрипцию в реальном времени, как только ваше
                    аудио проходит через нашу систему.</p>
            </div>
            <div class="service-block">
                <h3>Человеческая транскрипция</h3>
                <p>Наши специалисты помогут улучшить качество транскрипции, если
                    машина не справилась.</p>
            </div>
        </div>
        <button class="history-button"
            onclick="window.location.href='{% url 'transcription_history' %}';">
            Просмотр истории транскрипций
        </button>
        <footer>
            <p>&copy; 2024 ИИ сервис транскрибирования. Все права защищены.</p>
        </footer>
        <script src="../static/scripts.js"></script>
    </body>

</html>